# Ignore all hidden files and directories except .gitignore it self #
#####################################################################
.*
!/.gitignore

# Data #
########
data/temp_data/*
dictionaries/
!dictionaries/.gitkeep

# Unrelated files #
###################
code/__pycache__/
bucc2016-zhen-sample2/
zh-en_early_phase/
solr-6.4.2/
submission/

# Packages #
############
solr-6.4.2/
